
.projects {
  position: relative;
  height: 1100px;
  background: url("../img/projects_background.png") no-repeat;
  background-size: cover;

  &-logos {
    position: relative;
    left: 10%;
    top: 50%;
    z-index: 5;
    @include flex(flex-start, space-between, wrap);
    width: 50%;
    &-item {
      display: block;
      width: 20%;
      margin: 2% 5%;
      & img {
        display: block;
        width: 100%;
      }
    }
  }

  &-title {
    right: 17%;
    top: 50%;
  }

  &-letter {
    left: 0;
    top: -20%;
    transition: 5s;
  }
}